// %flex {
//   display: flex;
// }

.flex {
  display: flex;
}

.flex-center {
  height: 100vh;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.flex-align-left {
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
